body { 
margin: 0px;
padding: 0px;
font-family: 'Open Sans', sans-serif;
}
a {
color: white;
text-decoration: none;
  &:hover {
    color:red;
  }
}
#header {
  width:100%;
  background-color:black;
  div {
    color: white;
    width:1000px;
    margin:0px auto;
    height:40px;
    ul,h1,li {
      display:inline;
      margin-right:20px;
    }
  }
}

#content {
margin: 0 auto;
width:1000px;
  div { 
  padding-left:10px;
  margin-top: 10px;
  background-color: #fafafa;
  -moz-border-radius:10px; /* FF */
  -webkit-border-radius:10px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
  -khtml-border-radius:10px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
  border-radius:10px; /* pozostałe przeglądarki */
  }
  h1 {
  font-size: 3em;
  }
}

#footer {
margin: 0 auto;
width:1000px;
}